<html ng-app>
  <div ng-controller="MonkeyList">
    <form ng-submit="addMonkey()">
      <h2> add a monkey</h2>
      <input type="text" ng-model="monkey.text", placeholder="monkey name"/>
      <input type="submit">
    </form>

    <input type="text" ng-model="filter.text" placeholder="filter by name">
    <ul>
      <li ng-repeat="m in monkeys | filter:filter.text" class="name">
       <b>{{m.name}}</b>
        <a href="#/remove-monkey" ng-click="removeMonkey(m.name)">X</a>
      </li>
    </ul>
  </div>
  <script src="monkey_list.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/lodash/dist/lodash.js"></script>
</html>